.classColumn{
width: 10vw;
    height: 5vh;
    border: double;
    border-color: black;
    text-align: center;
}

.classHint{
    width: 10vw;
    height: 5vh;
    border: inset;
    border-color: black;
    text-align: center;
}

.classRow{
    border: solid;
    border-color: black;
    height: 8vh;
    text-align: center;
}

table{
    margin-top: 20vh;
    margin-left: 40vh;
}

.cap{
    text-align: center;
}

.empty{
    width: 400vw;
    height: 20vh;
    text-decoration-style: solid;
    text-align: center;
    margin-top: 20vh;
    margin-left: 40vh;
}